.section-about{
	background: $color-light-1;
	padding: 10rem 0;
	@include respond(tab-port) { // width < 900?
       padding: 10rem 0 1rem 0;
    }
	&__content{
		display: flex;
		justify-content: space-around;
		@include respond(tab-port) { // width < 900?
        	flex-direction: column;
        	justify-content: flex-start;
    	}
	}
	&__text,
	&__img-composition{
		flex: 50%;
	}
	&__text{
		
		text-align: left;
		@include respond(tab-port) { // width < 900?
        	text-align: center;
        	margin-bottom: 4rem;
    	}
	}
	&__img-composition{ 
		@include respond(tab-port) { // width < 900?
        	padding: 3rem;

    	}
	}
}

.section-features{
	padding: 20rem 0;
	overflow: hidden;
	background: black;
	transform: $skewY-primary;
	position: relative;
	@include respond(tab-port) { 
        padding: 10rem 3rem;
    }
	&__background{
		position: absolute;
		top: -10%;
		left: 0;
		width: 100%;
		height: 140%;
		background: linear-gradient(to right bottom, rgba($color-primary-light,0.8),
	    rgba($color-primary-dark,0.8)),
	    url("../img/nat-4.jpg") ;
	    background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}
	& > * {
        transform: $skewY-primary-opposite;
    }
	&__container{
		
		display:flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@include respond(tab-port) { 
        	flex-direction: column;
    	}
	}
	&__box{
		flex-basis: 23%;
		padding: 2.5rem;
		background: rgba($color-light-1, 0.8);
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-dark,0.15);
		transition: transform $transition-speed;
		&:hover {
			transform: translateY(-1rem);
		}
		@include respond(tab-port) { 
        	margin: 2rem 0;
    	}
	}
	&__icon{
		background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
		-webkit-background-clip: text;
		color: transparent;
		font-size: 6rem;
	}
}

.section-stories{
	background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
	// transform: $skewY-primary;
	// & > * {
	// 	transform: $skewY-primary-opposite;
	// }
	clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
	&__stories-box{
		width: 75%;
	    box-shadow: 0 3rem 6rem rgba($color-dark, 0.1);
	    background-color: rgba($color-light-1, .6);
	    border-radius: 3px;
	    padding: 6rem 6rem 4rem 9rem;
	   
	    font-size: $default-font-size;
	    transform: skewX(-12deg);
	    @include respond(tab-port) { 
        	transform: skewX(0);
    	}
	    &:hover .section-stories__photo-caption {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
		&:hover .section-stories__photo {
	        transform: translateX(-4rem) scale(1);
	        filter: blur(3px) brightness(80%);
	    }
	}	
	    

	
	&__photo-box{
		width: 15rem;
        height: 15rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle();
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle();
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
		float: left;
		@include respond(tab-port) { 
        	transform: translateX(-3rem) skewX(0);
    	}
	}
	&__photo{
		height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
        
	}
	&__photo-caption{
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-light-1;
		opacity: 0;
		font-size: 1.7rem;
		transition: all 0.5s;
		
	}
	&__text {
        transform: skewX(12deg);
       	@include respond(tab-port) { 
        	transform: skewX(0);
    	}
    }
}

.section-book{
	padding: 15rem;
	background: linear-gradient(105deg, 
		                        rgba($color-light-1,0.9) 0%,
		                        rgba($color-light-1,0.9) 50%,
                                transparent 50%),
	                            url("../img/nat-10.jpg") ;
    background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	@include respond(tab-land) { 
        padding: 3rem;
        background: linear-gradient( 
		rgba($color-light-1,0.9), rgba($color-light-1,0.9)),
	    url("../img/nat-10.jpg") ;
    }
}

