.composition {
    position: relative;
	height: 100%;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all $transition-speed;
        outline-offset: 2rem;
        &_p1 {
            left: 0;
            top: -2rem;
        }

        &_p2 {
            right: 0;
            top: 2rem;
        }

        &_p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.15rem);
            box-shadow: 0 2.5rem 4rem rgba($color-dark, .5);
            z-index: 20;
        }

    }

	
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    //composition:hover composition__photo:not(:hover) {
}