$color-primary: #55c57a;
$color-primary-dark: #28b485;
$color-primary-light: #7ed56f;

$color-light-1: #f7f7f7;
$color-light-secondary: #eee;
$color-dark: #000;
$color-footer: #333333;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$max-width: 114rem;

$default-font-size: 1.6rem;

$transition-speed: 0.2s;

$skewY-primary: skewY(-5deg);
$skewY-primary-opposite: skewY(5deg);

